<div class="nav">
  <div class="container">
    <div class="new-post">
      <a href="<%=new_post_path%>"><i class="fa fa-plus"></i> Add New post</a>
    </div>
    <div class="posts">
      <% @posts.each do |post| %>
        <section class="post">
          <div class="user">
            <div class="avatar">
              <img src="/assets/pp.jpg">
            </div>
            <div class="username">
              <%= current_user.username %>
            </div>
          </div>
          <div class="content">
            <%= post.text %>
          </div>
          <div class="actions">
            <a href="<%=post_path(post)%>" title="Show"><i class="fa fa-eye"></i></a>
            <a href="<%=edit_post_path(post)%>" title="Edit"><i class="fa fa-edit"></i></a>
            <a href="<%=post_path(post)%>" data-method="delete" data-confirm="Are you sure?" title="Delete"><i class="fa fa-trash"></i></a>
            <a href="<%=post_share_path(post)%>" title="Share"><i class="fa fa-share"></i></a>
          </div>
        </section>
      <% end %>
    </div>
  </div>
</div>
